* {
  margin: 0;
}

body {
  font-family: 'Roboto', serif;
  background: gray;
}

img {
  width: 100%;
}

p {
  padding: 15px;
}

.post {
  background: white;
  width: 500px;
  margin: auto;
  margin-top: 20px;
}

.align-flex-two {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.brand {
  display: flex;
}

.brand-icon {
  padding-right: 10px;
}